
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientLib.css @ categories='academy-hrem.site'}" data-sly-unwrap/>



<div data-sly-resource="${'parsys' @ resourceType='wcm/foundation/components/parsys'}"></div>

<sly data-sly-resource="${'gridList' @ resourceType='coderwanda-rem/components/structure/gridproxy'}"/>



<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientLib.js @ categories='academy-hrem.site'}" data-sly-unwrap/>
